.operation-button {
  font-weight: bold;
  font-size: 1.2rem;
}

.disabled-button {
  background-color: #6c757d; /* Bootstrap secondary color */
  border-color: #6c757d;
  color: white; /* Adjust text color as needed */
}
